
doc/abstract.xml

doc/build.xml

doc/future.xml

doc/invocation.xml

doc/performance.xml

doc/recursion.xml

doc/stupidthings_all.xml

doc/stupidthings.ditamap

doc/xsl-origins.xml

doc/xslt-purpose.xml
